#wpadminbar{
	#wp-admin-bar-GOL_git{
		> a{
			&:before{
				content: "";
				width: 20px;
				height: 25px;
				transform: rotate(90deg);
				background: transparent url(../../img/git.svg) no-repeat center !important;
			}
		}
	}
}